<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.bit.ex.mapper.EmpMapper">

	<resultMap id="EmpMap" type="edu.bit.ex.vo.EmpVO">
	    <result property="ename" column="ename"/>
	    <result property="sal" column="sal"/>
	    <result property="hiredate" column="hiredate"/>
		<collection property="authList" resultMap="empAuthMap"></collection>
	</resultMap>
	
	<resultMap id="empAuthMap" type="edu.bit.ex.vo.EmpAuthVO">
		<result property="ename" column="ename"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	<select id="getMember" resultMap="memberMap">
		select * from users , authorities 
		where users.username = authorities.username and users.username = #{username}
	</select>
	

</mapper>
